    
    body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;  
    height: 100vh;   
    background: #5b635a;
    background-image: url("images/tasbbeeh.png");
    background-size: cover;
    background-position: center;
    }

    .box {
    height: 400px;
    width: 220px;
    display: flex;
    flex-direction: column;     
    align-items: center;
    justify-content: space-around;
    background-color: #473638;
    border: 3px solid red;
    border-radius: 12px;        
    box-shadow: 6px 6px 12px rgba(0,0,0,0.3), 
     -3px -3px 6px rgba(255,255,255,0.6);
    }

  h1{
    font-size: 100px;
    font-weight:bolder;
    background-color: whitesmoke;
    border: 3px red solid;
    border-radius: 20px;
    height: 150px;
    width: 90%;
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    color:black;
    margin-top: 0%;
    margin-bottom: 10px;
    /* margin-bottom: 10px; */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    box-shadow: -1px -1px 10px rgba(218, 18, 18, 0.3);
    }
    h2{
        border: 3px red solid;
        border-radius: 10px;
        line-height: 35px;
        background-color:#473638 ;
        color: aliceblue;
        /* width: 220px; */
    }

    .btn {
    width: 140px;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    background: #007bff;   
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.3), 
    -2px -2px 4px rgba(255,255,255,0.5);
    }

    .btn:hover {
     background:rgb(238, 63, 119);       
    }

    #reset {
    background: #dc3545;  
    border-radius: 50px; 
    width: 60px;           
    height: 60px;
    border-radius: 50%;     
    background: #dc3545;      
    color: white;
    border: none;
    font-size: 16px; 
    box-shadow: 4px 4px 8px rgba(0,0,0,0.3), 
    -2px -2px 4px rgba(255,255,255,0.5);     
    }

    #reset:hover {
     background: #a71d2a;
    }

 